<% layout("/layouts/boilerplate.ejs") -%>

<div class="row">
     <div class="col-6 offset-3">
        <h1 class="col-6 offset-3">LogIn</h1>
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <label form="username" class="form-label ">User Name:</label>
            <input 
            name="username" 
            id="username" 
            type="text"
            class="form-control" 
            required
            />
    
            <div>
            <label form="password" class="form-label ">Password:</label>
            <input 
            name="password" 
            id="password" 
            type="password"
            class="form-control" 
            required
            />
            </div>
            <button class="btn btn-success mt-3 mb-3">Login</button>
            </form>
    </div>
 </div>